{% extends 'base.html' %}
{% block title %}
    乾頤堂云系统
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <h3>亁颐堂现任明教教主 Python网络编程第三部分 简易云环境</h3>
    <br>
    <h3>主要通过此课程简介Python如何在云环境实现自动化</h3>
    <br>
    <h3>自动化包括如下内容</h3>
    <br>
    <ol>
        <li>Nexus自动化</li>
        <li>IOS自动化</li>
        <li>ASA自动化</li>
        <li>vSphere自动化</li>
    </ol>
    <h3>最后通过Django实现前端呈现</h3>
    <a href="https://gitee.com/qytang/cloud_system"><h3>码云代码共享链接</h3></a>
    <!--img src="/static/images/cloud1.png"  alt="首页" /-->
    <!--img src="/static/images/cloud2.png"  alt="重置" /-->
    <!--img src="/static/images/cloud3.png"  alt="订阅" /-->
    <!--img src="/static/images/cloud4.png"  alt="查看" /-->
    <!--img src="/static/images/cloud5.png"  alt="控制" /-->
</div>
{% endblock body %}
